@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');


:root{
    --title_font : 'Righteous', cursive;
    --text_font : 'Space Mono', monospace;
    --main_color : #41d0e5;
    --second_color : #36aec0;
}


html{
    background-color: var(--main_color);
}



a{
    text-decoration: none;
    font-family: var(--title_font);
    color: var(--second_color);
    
}

a:hover{
    transform: scale(.98);
    
}

body > a > i{
    background-color: var(--second_color);
    color: #fff;
    padding: .5em .6em;
    margin:  .5em 0 0 .5em;
    font-size: 1.5em;
    border-radius: 50%;
}

body > a > i:hover{
    background-color: #fff;
    color: var(--second_color);
   
}

header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

header > a >.fa-shopping-cart{
    font-size: 1.5em;
    color: #fff;
    margin: 0 1em;
    cursor: pointer;
}

header > a >.fa-shopping-cart:hover{
    color: rgb(195, 195, 195);
  
}



h1,h2,h3,h4,.precio, span, header>p{
    font-family: var(--title_font);
}



header > a > p{
    color: #fff;
    display: inline-block;
    font-family: var(--title_font);
    font-size: 2em;
    margin: .5em ;
}

header > a > p >span{
    font-family: 'Fruktur', cursive;
}

h1{
    color: #fff;
    
}

p{
    font-family: var(--text_font);
}



.wrapper{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
   

}


.productos{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 auto;
    min-width: 300px;
    flex: 1 1 1024px;
    
}

.productos > h1, #vistos > h2, #favoritos > h2{
    width: 100%;
    text-align: center;
    margin: .5em 0;
}

.producto{
    display: flex;
    flex-flow: column nowrap;
    max-width: 300px;
    margin: .5em 0;
    text-decoration: none;
    padding: .2em;
    background-color: mintcream;
    
}

.productos > div > *{
    margin: .2em;
}

.productos > div > a{
    display: flex;
    max-width: 100%;
}


img{
    max-width: 100%;
}

.heart{
    cursor: pointer;
    width: 30px;
    font-size: 2em;
    color: rgb(255, 56, 56);
    
}

.politica a{
    color: #fff;
    outline: .1em solid #fff;
    padding: .5em;
    margin: 0 .3em;
}

.politica a:hover{
    color: var(--main_color);
    background-color: #fff;
    outline: .1em solid #fff;
    
}


#volverPantallaCookies{
    color: #fff;
    cursor: pointer;
    border-bottom: .1em solid #fff;
}

.permisoDenegado{
    display: none;
}



.producto > section{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
}

.producto > section > *{
    margin: .5em;
}


#vistos, #favoritos{
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    min-width: 300px;
    justify-content: space-around;
    background-color: mintcream;
    margin: 1em .2em;

}



#vistos > section, #favoritos > section{
    display: flex;
    flex-flow: column nowrap;
    max-width: 40%;
    margin: .5em;
    text-align: center;
}

#vistos img, #favoritos img{
    border-radius: 50%;
}

#favoritos > article span{
    margin: 0 .4em;
}

.fa-heart{
    color: var(--main_color);
    font-size: 1.5em;
    color: #e74646;
}


aside{
    display: flex;
    flex-flow: row wrap;
    /*max-width: 300px;*/
    flex: 1 2 300px;
    margin: 0 auto;
    justify-content: space-around;
}

.individual{
    max-width: 1024px;
    margin: 1em auto;
    background-color: #fff;
    padding: 1em;
}

.individual i{
    font-size: 2em;
}

.individual p{
    font-size: 1.5em;
}

.individual article{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    
    
}

.individual article > *{
    margin: 0 .5em;
}

.individual img{
    flex: 1;
    max-width: 300px;
    
}

.individual .precio{
    font-size: 2em;
    display: inline-block;
}

.descripcion{
    display: flex;
    flex-flow: column wrap;
    flex: 2;
}


.agregarProducto{
    border: 0 ;
    padding: .5em 0;
    background-color: var(--second_color);
    cursor: pointer;
}

.agregarProducto:active{
    transform: scale(.98);
}

.productoAgregado{
    background-color: violet;
}


#productos_carro{
    display: flex;
    flex-flow: row wrap;
    max-width: 1024px;
    margin: 0 auto;
    justify-content: center;
}

#productos_carro > h1{
    width: 100%;
    text-align: center;
    
}

#productos_carro > article{
    max-width: 300px;
    text-align: center;
    background-color: #fff;
    outline: .1em solid rgb(0, 0, 0);
    padding: 1em;
}

#productos_carro > article > section{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

#productos_carro input{
    height: 20px;
}


#resumen{
    display: flex;
    flex-flow: column nowrap;
    margin: 1em auto;
    padding: 1em;
    background-color: #fff;
    max-width: 300px;
    
}

#resumen p{
    margin: .1em 0;
}

main > form{
    background-color: #fff;
    display: flex;
    flex-flow: column nowrap;
    max-width: 300px;
    padding: 2em;
    align-items: center;
    margin: 3em auto;

}

main > form > h1{
    color: var(--main_color);
    text-align: center;
}

main > form > *{
    max-width: 50%;
    margin: .5em 0;
}

.error{
    text-align: center;
    margin: 1em auto;
    background-color: #fff;
    max-width: 300px;
    padding: 1em;
}


.carro_vacio{
    background-color: #fff;
    text-align: center;
    margin: 4em auto;
    padding: 1em;
}

.cantidadProducto{
    max-width: 30%;
}



.eliminarProducto{
    cursor: pointer;
    color: var(--second_color);
    border: 0;
    outline: .1em solid var(--second_color);
    background-color: transparent;
    padding: .5em 1em;
    
}

.eliminarProducto:hover{
    background-color: var(--second_color);
    color:#fff;
    align-items: center;
}

#carro{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

}



a[href='tramite.php']{
   background-color: white;
   max-width: 150px;
   text-align: center;
   padding: 1em;
}