.wrapper{
    display: flex;
    flex-flow: row wrap;
}


.productos{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 70%;

    /*display: none;*/
}

.productos > div{
    display: flex;
    flex-flow: column nowrap;
    max-width: 300px;
    outline: .1em solid black;
    margin: .5em;
    text-decoration: none;
    padding: .2em;
    
}

.productos > div > *{
    margin: .2em;
}

.productos > div > a{
    display: flex;
    max-width: 100%;
}


img{
    max-width: 100%;
}

.heart{
    cursor: pointer;
    width: 30px;
    font-size: 2em;
    color: rgb(255, 56, 56);
    
}


#volverPantallaCookies{
    color: rgb(38, 0, 251);
    cursor: pointer;
}

.permisoDenegado{
    display: none;
}


.producto > section{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.producto > section > *{
    margin: .5em;
}
